{
  "env": {
    "node": true,
    "mocha": true,
    "truffle/globals": true
  },
  "extends": "eslint:recommended",
  "parserOptions": {
    "ecmaVersion": 11,
    "sourceType": "module"
  },
  // "rules": {
  //   "func-style": ["warn", "declaration"]
  // },
  "plugins": ["truffle"]
}
